body {
    background-image: url(image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    text-align: center;
    text-shadow:#e7f6ff 0 -1px 0,
#00abf0 1px 1px 0,
#0096e4 2px 2px 0,
#00ceff 3px 3px 0,
#006392 4px 4px 0,
#00485b 5px 5px 0,
#333 5px 5px 10px;color:#44e9ff;

 
}

.carte {
    display: block;
    margin-left: auto;
    margin-right: auto;
}